<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student View</title>
  </head>
  <body>
    <h1>Welcome to the Student's View</h1>
    <p>You can access this since you are logged in as a Student</p>
    <a href="/logout">logout</a>
  </body>
</html>
